//colors
$mainBlack: rgb(2, 1, 1);
$lightBlack: rgb(10, 7, 7);

$mainGray: rgb(52, 52, 52);
$transparentGray: rgba(52, 52, 52, 0.2);
$lightGray: rgb(168, 161, 161);
$gray: rgb(128, 121, 121);

//media queries sizes
$smallSize: 27.5em;
$mediumSize: 47.5em;
$largeSize: 63.75em;
$extraLargeSize: 91.25em;

//cube sizes
$wallSize: 25em;
$small: 1.1;
$medium: 1.3;
$large: 1.5;
$extraLarge: 1.7;
