$wallSize: 20em;
$translateSize: $wallSize / 2;

//colors

$mainBlack: rgb(2, 1, 1);
$lightBlack: rgb(10, 7, 7);

$mainGray: rgb(52, 52, 52);
$lightGray: rgb(168, 161, 161);
$transparentGray: rgba(168, 161, 161, 0.25);