.cube {
    position: relative;

    z-index: 99;

    width: $wallSize;
    height: $wallSize;

    perspective: 2 * $wallSize;

    @include atSmall() {
        width: $small * $wallSize;
        height: $small * $wallSize;
        perspective: $small * (2 * $wallSize);
    }
    @include atMedium() {
        width: $medium * $wallSize;
        height: $medium * $wallSize;
        perspective: $medium * (2 * $wallSize);
    }
    @include atLarge() {
        width: $large * $wallSize;
        height: $large * $wallSize;
        perspective: $large * (2 * $wallSize);
    }
    @include atExtraLarge() {
        width: $extraLarge * $wallSize;
        height: $extraLarge * $wallSize;
        perspective: $extraLarge * (2 * $wallSize);
    }

    transition: transform 0.3s ease-in;
    


    &:focus,
    &:hover {
        .cube__wall {
            box-shadow: inset 0px 0px 150px 25px $lightBlack;
        }
    }

    &__object {
        position: absolute;

        width: 100%;
        height: 100%;

        transform-style: preserve-3d;

        transition: transform 1s;
        @include translateZMinusBare;

        //box-shadow: 0px 0px 200px 10px $lightGray;

        &--get-front {
            @include translateZMinusBare;
        }
        &--get-back {
            @include translateZMinus(rotateX(-180deg));
        }

        &--get-left {
            @include translateZMinus(rotateY(90deg));
        }

        &--get-right {
            @include translateZMinus(rotateY(-90deg));
        }

        &--get-top {
            @include translateZMinus(rotateX(-90deg));
        }

        &--get-bottom {
            @include translateZMinus(rotateX(90deg));
        }

    }

    &__wall {
        position: absolute;

        width: $wallSize;
        height: $wallSize;

        @include atSmall() {
            width: $small * $wallSize;
            height: $small * $wallSize;
        }
        @include atMedium() {
            width: $medium * $wallSize;
            height: $medium * $wallSize;
        }
        @include atLarge() {
            width: $large * $wallSize;
            height: $large * $wallSize;
        }
        @include atExtraLarge() {
            width: $extraLarge * $wallSize;
            height: $extraLarge * $wallSize;
        }

        border: 1px solid $lightGray;
        transition: box-shadow 0.3s ease-in;
        box-shadow: inset 0px 0px 110px 15px $lightBlack;
        opacity: 0.8;

        &--front {
            @include translateZBare;

            background-color: $mainGray;
        }

        &--back {
            @include translateZ(rotateX(180deg));

            background-color: $mainGray;
        }

        &--left {
            @include translateZ(rotateY(-90deg));

            background-color: $mainGray;
        }

        &--right {
            @include translateZ(rotateY(90deg));

            background-color: $mainGray;
        }

        &--top {
            @include translateZ(rotateX(90deg));

            background-color: $mainGray;
        }

        &--bottom {
            @include translateZ(rotateX(-90deg));

            background-color: $mainGray;
        }
    }
}